/* Hides an element in the UI. */
.noDisp {
	display: none;
}

/* User authentication page. */
.authenticationPage {
	align-items: center;
	display: flex;
	flex-direction: column;
}

/* Applies to a form or elements in a form. */
.formElement {
	display: flex;
	flex-direction: column;
}
