/* Div containing login page. */
.loginPage {
	align-items: center;
	display: flex;
	flex-direction: column;
}

/* Form containing login fields. */
.loginForm {
	display: flex;
	flex-direction: column;
}

/* Hides an element in the UI. */
.noDisp {
	display: none;
}
